# SQL Query to Find Average Selling Price

## Problem Statement

Write a solution to find the average selling price for each product. `average_price` should be rounded to 2 decimal places. If a product does not have any sold units, its average selling price is assumed to be 0.

Return the result table in any order.

### Example

**Example 1:**

**Input:** 
Prices table:
```sql
+------------+------------+------------+--------+
| product_id | start_date | end_date   | price  |
+------------+------------+------------+--------+
| 1          | 2019-02-17 | 2019-02-28 | 5      |
| 1          | 2019-03-01 | 2019-03-22 | 20     |
| 2          | 2019-02-01 | 2019-02-20 | 15     |
| 2          | 2019-02-21 | 2019-03-31 | 30     |
+------------+------------+------------+--------+
UnitsSold table:
sql
+------------+---------------+-------+
| product_id | purchase_date | units |
+------------+---------------+-------+
| 1          | 2019-02-25    | 100   |
| 1          | 2019-03-01    | 15    |
| 2          | 2019-02-10    | 200   |
| 2          | 2019-03-22    | 30    |
+------------+---------------+-------+
Output: 
sql
+------------+---------------+
| product_id | average_price |
+------------+---------------+
| 1          | 6.96          |
| 2          | 16.96         |
+------------+---------------+

# Intuition

The problem requires finding the average selling price for each product, considering different price points over time. We need to link sales data with the corresponding price data, calculate the total revenue and units sold for each product, and then derive the average price. For products without sales, we must return an average price of 0.

# Approach

- Perform a LEFT JOIN to match sales (`UnitsSold`) with pricing (`Prices`) based on product ID and ensure the sale's date falls within the price's validity period.
- Calculate total revenue by multiplying price with units sold for each sale, then summing this up per product.
- Calculate total units sold per product to use for the average price calculation.
- Use `COALESCE` to handle the case where there are no sales for a product, ensuring the result is 0 rather than NULL.
- Round the average price to two decimal places as required by the problem statement.

# Complexity
- **Time complexity:**

  O(n log n), where n is the total number of records across both tables. The join and aggregation operations are the primary factors here, with the potential sorting in `GROUP BY` adding to the complexity, though this can be mitigated with appropriate indexing.

- **Space complexity:**

  O(n), as we need space to store the result of the join operation before aggregation. The exact space used will depend on the number of rows in the joined result set.

In [ ]:
# code
SELECT 
    p.product_id,
    ROUND(COALESCE(SUM(p.price * u.units) / NULLIF(SUM(u.units), 0), 0), 2) AS average_price
FROM 
    Prices p
LEFT JOIN 
    UnitsSold u ON p.product_id = u.product_id 
    AND u.purchase_date BETWEEN p.start_date AND p.end_date
GROUP BY 
    p.product_id;