# Problem Statement
A single number is a number that appeared only once in the `MyNumbers` table.

Find the largest single number. If there is no single number, report `null`.

The result format is in the following example.

**Example 1:**

**Input:** 
MyNumbers table:
| num |
|-----|
| 8   |
| 8   |
| 3   |
| 3   |
| 1   |
| 4   |
| 5   |
| 6   |

**Output:** 
| num |
|-----|
| 6   |

# Intuition
The problem likely requires finding the maximum number that appears only once in the table `MyNumbers`. My first thought is to use a subquery to isolate numbers that appear exactly once, then find the maximum among those.

# Approach
1. **Subquery**: Use a subquery to group all numbers by their value and count how many times each number appears. Filter for those numbers that appear exactly once.
2. **MAX Function**: Apply the `MAX` function to the result of the subquery to get the highest number among those that appear once.

# Complexity
- **Time complexity**: 
  - O(n log n) due to the grouping operation in MySQL which sorts the data.
- **Space complexity**: 
  - O(n) for storing the intermediate result of the subquery.

# Code

```sql
SELECT
    MAX(num) AS num
FROM
    (SELECT num FROM MyNumbers GROUP BY num HAVING COUNT(*)=1) AS single_numbers;