# Problem Statement
Write a solution to find all the classes that have at least five students.

Return the result table in any order.

**Example 1:**

**Input:** 
Courses table:
| student | class    |
|---------|----------|
| A       | Math     |
| B       | English  |
| C       | Math     |
| D       | Biology  |
| E       | Math     |
| F       | Computer |
| G       | Math     |
| H       | Math     |
| I       | Math     |

**Output:** 
| class   |
|---------|
| Math    |

# Intuition
We aim to count students in each class and then select only those classes where the student count is five or more.

# Approach

**Solution 1: Using Direct Aggregation**
1. **Group by Class:** Group the data by `class` to count students per class.
2. **Filter with HAVING:** Use `HAVING` to filter groups where the count of students is at least 5.

**Solution 2: Using CTE**
1. **Create CTE for Counting:** First, count students per class using a CTE.
2. **Select from CTE:** Then, query this CTE to filter classes with 5 or more students.

# Complexity

For both solutions:
- **Time complexity:** 
  - O(n), where `n` is the number of rows in the `Courses` table. We process each row once for grouping and counting.

- **Space complexity:** 
  - O(m), where `m` is the number of unique classes. We store the count for each class before filtering.

# Code

## Solution 1: Direct Aggregation
```sql
SELECT
    class
FROM
    Courses
GROUP BY
    class
HAVING
    COUNT(student) >= 5;
```
## Solution 2: using aggregation via a CTE 

```sql

WITH ClassCount AS (
    SELECT 
        class,
        COUNT(student) AS student_count
    FROM 
        Courses
    GROUP BY 
        class
)
SELECT 
    class
FROM 
    ClassCount
WHERE 
    student_count >= 5;


## Comparison
Readability: 
The CTE solution offers a clearer separation of concerns by explicitly counting students first, then filtering. This can be beneficial for more complex queries or for maintenance.

Performance: 
Both solutions are essentially performing the same operations under the hood. However, the CTE might introduce a minor performance overhead due to its abstraction layer, though this is typically optimized away by modern database engines.

Scalability: 
The CTE approach is more scalable if you need to reuse the count or if additional logic needs to be applied to the counts before final selection.

Maintenance: 
The CTE method is generally easier to extend or modify, especially if you need to add more conditions or calculations based on the counts.

Choosing Between Them:
Use Direct Aggregation if simplicity or a potential tiny performance gain is crucial.
Use CTE for better readability, future extensibility, or if you're dealing with a query that might grow in complexity.

Both queries will yield the same result for this example, but in practice, choosing one over the other might depend on broader query context or specific performance considerations in your database environment.