# Project Description

Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by `user_id`.

## Example

### Input:
**Users table:**
| user_id | name  |
|---------|-------|
| 1       | aLice |
| 2       | bOB   |

### Output:
| user_id | name  |
|---------|-------|
| 1       | Alice |
| 2       | Bob   |

# Intuition
The task requires correcting the case of names in the `Users` table, ensuring that only the first letter of each name is capitalized while the rest are in lowercase. This involves string manipulation where we need to capitalize the first character and make the rest lowercase.

# Approach
- **Select Data**: Query the `user_id` and `name` from the `Users` table.
- **String Manipulation**: Use SQL string functions:
  - `UPPER(SUBSTR(name, 1, 1))` to uppercase the first character of the name.
  - `LOWER(SUBSTR(name, 2))` to lowercase the rest of the name.
- **Concatenate**: Combine these parts using `CONCAT`.
- **Ordering**: Sort the result by `user_id` to match the example's expected output format.

Note: In SQL lite you have to use UPPER(SUBSTR(name, 1, 1)) || LOWER(SUBSTR(name, 2)) AS name

# Complexity
- **Time complexity:** $$O(n \log n)$$. Sorting the output by `user_id` contributes to this complexity, with `n` being the number of rows in the `Users` table.
- **Space complexity:** $$O(n)$$. The space used is proportional to the number of rows fetched and possibly temporary space for sorting.

# Code
```sql
SELECT user_id, CONCAT(UPPER(SUBSTR(name, 1, 1)), LOWER(SUBSTR(name, 2))) AS name
FROM Users
ORDER BY user_id;