# Project Description

Write a solution to find for each date the number of different products sold and their names.

The sold products names for each date should be sorted lexicographically.

Return the result table ordered by `sell_date`.

## Example

### Input:
**Activities table:**
| sell_date  | product     |
|------------|-------------|
| 2020-05-30 | Headphone   |
| 2020-06-01 | Pencil      |
| 2020-06-02 | Mask        |
| 2020-05-30 | Basketball  |
| 2020-06-01 | Bible       |
| 2020-06-02 | Mask        |
| 2020-05-30 | T-Shirt     |

### Output:
| sell_date  | num_sold | products                     |
|------------|----------|------------------------------|
| 2020-05-30 | 3        | Basketball,Headphone,T-shirt |
| 2020-06-01 | 2        | Bible,Pencil                 |
| 2020-06-02 | 1        | Mask                         |

# Intuition
The problem requires us to group products that were sold on the same day, count the unique products sold, and list these products in a sorted manner. My first thought was to use SQL aggregation functions to achieve this. Since we need to list each product only once per day, using `DISTINCT` within our aggregation would be key.

# Approach
1. **Group by Date**: We need to group the sales by `sell_date` to get the daily aggregation.
2. **Count Unique Products**: Use `COUNT(DISTINCT product)` to count the number of unique products sold on each date.
3. **Concatenate Products**: Use `GROUP_CONCAT` to list the products sold on each date. Since we want to avoid duplicates and have them sorted, we'll use `DISTINCT` and `ORDER BY` within the `GROUP_CONCAT`.
4. **Sorting**: Finally, we'll order the results by `sell_date` to ensure chronological order.

# Complexity
- **Time complexity**: O(n log n) where \( n \) is the number of rows in the Activities table. This is due to the sorting operation within `GROUP_CONCAT` which sorts the products for each date.

- **Space complexity**: O(n) where \( n \) is the number of rows in the result set. The space is used for storing the grouped and concatenated results.

# Code
```sql
SELECT sell_date,
       COUNT(DISTINCT product) AS num_sold,
       GROUP_CONCAT(DISTINCT product ORDER BY product ASC SEPARATOR ',') AS products
FROM Activities
GROUP BY sell_date
ORDER BY sell_date ASC;