# Problem: Non-Boring Movies with Odd ID

**Description:**

Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".

Return the result table ordered by rating in descending order.

**Example:**

**Input:** 
- Cinema table:
  ```sql
  +----+------------+-------------+--------+
  | id | movie      | description | rating |
  +----+------------+-------------+--------+
  | 1  | War        | great 3D    | 8.9    |
  | 2  | Science    | fiction     | 8.5    |
  | 3  | irish      | boring      | 6.2    |
  | 4  | Ice song   | Fantacy     | 8.6    |
  | 5  | House card | Interesting | 9.1    |
  +----+------------+-------------+--------+
**output:** 
  ```sql
  +----+------------+-------------+--------+
| id | movie      | description | rating |
+----+------------+-------------+--------+
| 5  | House card | Interesting | 9.1    |
| 1  | War        | great 3D    | 8.9    |
+----+------------+-------------+--------+

# Intuition
<!-- Describe your first thoughts on how to solve this problem. -->
The goal is to select movies from a 'Cinema' table that are not described as "boring" and where the ID is odd, then sort by rating in descending order. The first thought would involve filtering based on conditions and sorting.

# Approach
<!-- Describe your approach to solving the problem. -->
- Filter out movies where the description is "boring".
- Ensure the movie ID is odd by checking if `id % 2 != 0`.
- Sort the remaining records by their rating in descending order to get the highest rated movies first.

# Complexity
- **Time complexity:** O(n log n)
  
, where n is the number of records in the Cinema table. Sorting is generally the dominant factor here.

- **Space complexity:**
  
  O(n), due to the sorting operation which might require additional space depending on the sort algorithm used by MySQL.


```sql

SELECT *
FROM Cinema
WHERE description != "boring" AND id % 2 != 0
ORDER BY rating DESC;