# Project Description

Report for every three line segments whether they can form a triangle.

- **Return the result table in any order.**

## Example

### Input:
**Triangle table:**
| x  | y  | z  |
|----|----|----|
| 13 | 15 | 30 |
| 10 | 20 | 15 |

### Output:
| x  | y  | z  | triangle |
|----|----|----|----------|
| 13 | 15 | 30 | No       |
| 10 | 20 | 15 | Yes      |


## Intuition
The first thought would be to apply the Triangle Inequality Theorem directly to each row of data in a database table. Each row represents a potential triangle with sides `x`, `y`, and `z`. We need to check if these sides can form a triangle according to the theorem.

## Approach
- **Data**: Assume we have a table named `Triangle` with columns `x`, `y`, and `z`.
- **Logic**: Use a `CASE` statement to evaluate the triangle inequality for each row:
  - If all three conditions of the triangle inequality theorem are met, then the answer is 'Yes'.
  - Otherwise, it's 'No'.

The `CASE` statement allows for conditional logic within SQL, which is perfect for this scenario.

## Complexity

- **Time complexity**: 
  - O(n), where n is the number of rows in the `Triangle` table. We're performing a constant amount of operations (three comparisons) for each row.

- **Space complexity**: 
  - O(n). The space required is proportional to the output; we're selecting all rows plus an additional column, so it's linear with respect to the input size.

# Code
```sql
SELECT x, y, z,
    CASE
        WHEN x+y > z AND x+z > y AND y+z > x 
        THEN 'Yes'
        ELSE 'No'
    END AS triangle 
FROM Triangle;